{
    "Input_File_Paths" : 

    {
        "Charges" : "Data/Charges_use.csv",
        "Damages" : "Data/Damages_use.csv",
        "Endorse" : "Data/Endorse_use.csv",
        "Primary_Person" : "Data/Primary_Person_use.csv",
        "Units" : "Data/Units_use.csv",
        "Restrict" : "Data/Restrict_use.csv"
    },

    "Output_File_Paths" : 

    {
        "output_path_1" : "Output/1",
        "output_path_2" : "Output/2",
        "output_path_3" : "Output/3",
        "output_path_4" : "Output/4",
        "output_path_5" : "Output/5",
        "output_path_6" : "Output/6",
        "output_path_7" : "Output/7",
        "output_path_8" : "Output/8"
    },
    
    "Output_File_Format" : "parquet"

}